header{
    background-color: #D8407B
    padding: 20px;

}
#Logo{
    border-radius: 800px;
}
h1{
    font-family: Arial, Helvetica, sans-serif
    color: #d8407b;
}
main, footer{
    background-color: palegoldenrod;
}
.títuloprincipal{
    position: absolute;
    top: 13px;
    left: 30px;
    transform: translate(-10%, 50%);
    font-size: 30px;
    color: white
}