.cab{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_botao{
    display: none;
}
.cab_menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container_img{
    padding: 1em;
}
.lista_menu{
    display: none;
    position: absolute;
    top: 90%;
    background-color: var(--branco);
    width: 40vw;
    color: rgb(6, 5, 6);
}
.lista_menu_tit{
    color:rgb(187, 156, 140);
    font-weight: 800px;
}
.container_botao:checked~.lista_menu{
    display: block;
}
.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
}
.container__imagem, .logotipo{
    width: 120px
}
.container_titulo, .container_titulo--negrito{
    display: block;
    margin-right: 300px;
}
.quadrado{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 27px;
    text-align: center;
    margin-top: 40px;
}
.quadrado img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}
.quadrado p{
    font-size: 23px;
    color: #000000;
    margin-left: 4%;
    justify-content: center;
    margin-top: 0%;
    display: inline;
}
.quadrado-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width:820px){
    .slogam{
        display:inline;
    }
}
@media screen and (min-width:1024px){
    .conteiner_img{
        display: block;
    }
}